body {
  font-family: Arial;
  padding: 40px;
}

input, select {
  display: block;
  margin: 10px 0;
  padding: 8px;
}

button {
  padding: 10px;
  background: palevioletred;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
